body{margin:0px}
#header {
  background-color: rgb(53, 53, 53);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.card-heading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: bold;
  color: white;
  margin: 10px;
}
.card-p {
  margin:20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;

}
/* Header */

/* MainContainer */
#main-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 81vh;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: rgb(190, 190, 190);
}
/* MainContaier */
#footer{
  background-color: rgb(53, 53, 53);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
