body {
  margin: 0;
}
#header {
  background-color: rgba(0, 0, 0, 0.708);
    display: flex;
    justify-content: center;
    color:white;
    font-weight: bold;
    height: 70px;
}
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
 
  
}
#footer {
  background-color: rgba(0, 0, 0, 0.708);
  display: flex;
  justify-content: center;
  color: white;
  height: 70px ;
}
.section1{
  border: 2px solid gray;
  width: 400px;
  height: 100px;
  text-align: center;
}
.section2{
  border: 2px solid gray;
  width: 400px;
  height: 100px;
  text-align: center;
}
#sectiontitl{
font-weight: bold;
}
#sectiontitl2{
  font-weight: bold;
}