body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
  height: 200px;
}

#footer {
  margin-bottom: 0;
  background-color: papayawhip;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1em;
}
#appContainer {
  height: 100hv;
  margin: 0;
}

p {
  margin: 0;
}

#header {
  background-color: papayawhip;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}
.imges {
  width: 300px;
}
